<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>NetflixRandomizer</title>

    <link rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
    <script src="https://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/popper"></script>
    <script src="https://unpkg.com/bootstrap"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="stylesheet" href="/static/stylesheets/style.css">
    <link rel="shortcut icon" href="/static/favicon.ico">

    {%block head %}
    {% endblock %}

</head>


<body class="{% block body_class %}{% endblock %}"
    style="background-image: url('/static/images/AdobeStock_371561715_Editorial_Use_Only.jpeg');"></body>

<!-- Source: https://getbootstrap.com/docs/4.0/components/navbar/? -->
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

            <a class="navbar-brand" href="/">
                <img src="/static/images/favpng_popcorn-photographic-film.png" alt="logo" width="30" height="30"
                    class="d-inline-block align-top">
                Netflix Randomizer
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>

                    </li>
                    {%if not g.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="/signup">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>


                    {%endif%}
                    {%if g.user%}
                    <li class="nav-item">
                        <a class="nav-link" href="/show">Randomizer</a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/{{g.user}}">Queue</a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">Friend Requests</a>

                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/logout">Logout</a>

                  </li>
                    {%endif%}
                </ul>
                {% if g.user %}
                <li class="nav-item">
                  <a class="nav-link" href="/users/{{g.user.user_id}}">Username: {{g.user.credentials.first().username}}</a>&nbsp;

              </li>

            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search friend's name" placeholder="Search" aria-label="Search" name="q" id="search">
                
                <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
            </form>
            {%endif%}
            </div>
            


</nav>  
<!-- For Code Below - Source: Springboard Warbler project -->
<div class="container">
    {% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">{{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}

    
      {%if g.user%}
      <!-- Modal -->
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Friend Requests</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              {%for friend in g.user.pending_friends_request %}
              <div>
              <ul>{{friend.credentials.username}}</ul><img src="{{friend.user_photo.image_url}}" alt="..." class="img-thumbnail" width="20px" height="20px">
              <form action="/add_friend/{{friend.user_id}}" method="post"><button type="submit">Accept</button></form>
              <form method="post" action="/delete_friend_request/{{friend.user_id}}><button type="submit">Reject</button></form>
            </div>
            {%endfor%}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              
            </div>
          </div>
        </div>
      </div>
      {%endif%}

    {% block content %}
    {% endblock %}

</div>
</body>

</html>