{% extends 'base.html' %}
{% block content %}
<!-- <h1 class="home-display-text">Welcome to the Netflix Randomizer</h1>
    <p class="small-text">Need help looking for a movie to watch, then look no further! Click Below to Learn More!</p>
<div class="wrapper">
    
    <button type="button" class="btn btn-primary btn-lg">Learn More</button>
</div> -->

<div class="jumbotron mt-2 text-center bg-transparent text-light">
    
    <h1 class="display-4">Welcome to the Netflix Randomizer</h1>
    <p class="lead">Need help looking for a movie to watch! Click Below to Learn More!</p>
    
    
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/info" role="button" id="learn-more-button">Learn More</a>
    </p>

  </div>

{% endblock %}