{% extends 'base.html' %}
{% block content %}

<!-- ##includes user's info, queue and friend list -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes class="alert alert-success alert-dismissible fade show" role="alert">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<!-- ###Layout source: https://bbbootstrap.com/snippets/full-screen/individual-user-profile-social-network-94176986 -->
<div class="bg-white shadow rounded overflow-hidden text-center align-items-center " id="details">
    <div class="px-4 pt-0 pb-4 cover">
        <div class="media align-items-end profile-head">
            <div class="profile mr-3">
                <img src={{photo}}
                    alt="..." width="130" class="rounded mb-2 img-thumbnail">
                <a href="/edit" class="btn btn-outline-dark btn-sm btn-block">Edit profile</a>
            </div>
            <div class="media-body mb-5 text-white">
                <h4 class="mt-0 mb-0">{{user.first_name}} {{user.last_name}}</h4>
                
            </div>
        </div>
    </div>
    <div class="bg-light p-4 d-flex justify-content-end text-center">
        <ul class="list-inline mb-0">
            
            <li class="list-inline-item">
                <h5 class="font-weight-bold mb-0 d-block">{{friend_count}}</h5>
                <small class="text-muted"> <i class="fas fa-user mr-1"></i>Friends</small>
            </li>
        </ul>
    </div>
    <div class="px-4 py-3">
        <h5 class="mb-0">Friends</h5>
        <div class="p-4 rounded shadow-sm bg-light">
            {%if friends %}
                {% for friend in friends %}
                <a href="/friend_detail/{{friend.user_id}}">
                    <p class="font-italic mb-0">
                        {{friend.credentials.first().username}}
                    </p>
                </a>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="px-4 py-3">
        <h5 class="mb-0">Queue</h5>
        <div class="p-4 rounded shadow-sm bg-light">
            {% for video in videos %}
            <li class="font-italic mb-0">{{video.name}}<button id="delete-button" data-userId="{{user.user_id}}" data-itemId="{{video.id}}">Delete</button></li>
            
            {%endfor%}
        </div>
    </div>
</div>



<script  src="../static/queue.js"></script>


    {% endblock %}